@import "tailwindcss";

.color{
    background:#f3a933 !important;
}
.color2{
    background: #4286b9 !important ;
}
.txtcolor2{
    color:#f3a933 !important;
}

.txtcolor{
    color: #4286b9 !important;
}

::selection{
    background:#f3a933;
}